.album {
    background-color: #36557277;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 2rem;
    margin: 3rem auto;
    width: 90%;
    max-width: 35rem;
  }
  
  .album img {
    width: 350px;
    height: 350px;
  }
  
  .album p {
    font-size: 2rem;
    margin: 1;
  }
  
  .album figcaption {
    font-style: italic;
    font-size: 1.5rem;
    text-align: right;
    color: #2c406d;
  }